@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    font-size: 15px;
}
.buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
}
.btn-breakfast,
.btn-lunch{
    background-color:#F5E7BC;
    outline: none;
    border:3px solid #C06641;
    padding: 10px 20px;
    color: #97310F;
    border-radius: 8px;
    margin:0  20px;
    cursor: pointer;
}
.menu-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

.container-menu{
    display: flex;
    justify-content: space-around;
    width: 600px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
.products-menu{
    list-style: none;
    padding: 10px;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #FBF4E1;
    border-radius: 20px;
    color: rgba(186, 102, 25, 0.74);
    cursor: pointer;
}
li{
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.table-products{
    background: rgba(251, 244, 225, 0.95);
    width: 600px;
    color: #B34622;
    padding: 20px;
    padding-bottom: 35px;
    border-radius: 20px;
    position: relative;
    max-height: 450px;
}

.div-output,
.table-order{
    margin-top:5px ;
    display: grid;
    grid-template-columns: auto 100px 100px 100px;
}
.div-output{
    grid-column: 1/5;
}
.container-orders{
    grid-column: 1/5;
    max-height: 280px;
    overflow-y: scroll;
}
.container-orders::-webkit-scrollbar-trac{
    background-color: transparent;
}
.container-orders::-webkit-scrollbar{
    width: 4px;
    height:5px;
/*     height:1px; */
    background-color: #F5F5F5;
}
.container-orders::-webkit-scrollbar-thumb{
    background-color: #B34622;
    border-radius: 50px;
    width: 4px;
    height:1px;
} 

.name-table{
    font-family: 'Roboto', sans-serif;
    border-bottom: 4px solid;
    padding: 5px;
    text-align: center;
}

.btn-trash,
.btn-edit{
    background: none;
    border: none;
    cursor: pointer;
    color: #B34622;
    text-align: center;
}

.name-product{
    padding: 5px;
}
.name-price,
.name-cant{
    padding: 5px;
    text-align: center;
}
.name-amount{
    padding: 15px;
}
.fas{
    cursor: pointer;
}
.input-name{
    border: none;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    color: #B34622;
    background-color: rgba(255, 255, 255, 0.604);
    margin-left: 20px;
    outline: none;
}
.fa-times{
    position: absolute;
    right:40px;
}
.logIn-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    background-color: #B34622; 
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.total-amount{
    display: inline-block;
    padding: 12px ;
    padding-left: 245px;
    grid-column: 1/3;
    color: #B34622;
    font-family: 'Roboto', sans-serif;
}