<app-header></app-header>
<div class="buttons-div">
    <button type="button" class="btn-pending" value="desayuno">Pendiente</button>
    <button type="button"  class="btn-ready" value="almuerzo">Listo</button>
</div>
<div class="container-orders">
    <div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" >Listo</button>
    </div>
    <div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" >Listo</button>
    </div>
    <div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" >Listo</button>
    </div><div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" >Listo</button>
    </div><div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" >Listo</button>
    </div><div class="cards-orders">
        <p class="client-orders">Cliente:Gissel</p>
        <p class="client-time">Hora:09am</p>
        <p class="client">Producto</p>
        <p class="client">Cantidad</p>
        <div class="client-products">
            <p>Agua</p>
            <p>1</p>
        </div>
        <button class="btn-readyOrder" routerLink='/ready-orders'>Listo</button>
    </div>
</div>