
<aside class="admin-products">
  <div class="buttons-div">
      <button type="button" class="btn-products">Products</button>
      <button type="button" class="btn-users">Users</button>
  </div>
  <div class="table-products">
      <div class="table-output">
          <p class="name-table">Administrador</p>
          <p class="name-table">Email</p>
          <p class="name-table edit">Editar</p>
          <p class="name-table trash">Eliminar</p>
          
          <div class="div-output">
            <p class="name-product">
              <i class="fa fa-check" aria-hidden="true"></i>
            </p>
            <p class="name-email">yesiret@mail.com</p>

            <button type="button" class="btn-edit">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn-trash">
              <i class="fas fa-trash"></i>
            </button>
          </div>
            
      </div>
      <button type="button" class="btn-create-users">Crear</button>
  </div>
</aside>