header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}
.img-login{
    width: 450px;
}
.logIn-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px ;
    gap:35px;
}
.input-password,
.input-email{
    border: none;
    width: 350px;
    height: 45px;
    font-size: 18px;
    outline: none;
}
.input-email{
    margin-top:40px;
}
.logIn-button{
    background: #B34622;
    border-radius: 50px;
    padding: 20px;
    width: 200px;
    border: none;
    color: white;
    font-size: 18px;
}