 <header class="header">
  <img src="../assets/bq-logo.png" class="img-login" alt="Responsive image">
   <form class="logIn-form"  (ngSubmit)="login()">
      <input type="text" class="input-email" id="inputEmail" placeholder="  e-mail">
      <input type="password" class="input-password" id="inputPassword" placeholder="  contraseña">  
      <button class="logIn-button" type='submit' routerLink='/menu'>Ingresar</button> 

      <button class="logIn-button" type='submit' >Ingresar</button> 
  </form>
</header> 

