<aside class="aside">
    <header class="header">
        <img src="../assets/bq-logo.png" class="img-login" alt="Responsive image">
        <div class="admin-container">
            <h1 class="user">Administrador</h1>
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </header>
    <div class="buttons">
        <button class="admin-button btn" routerLink='/admin-products'>Administrador</button>
        <button class="menu-button btn" routerLink='/menu'>Menu</button>
        <button class="orders-button btn" routerLink='/pending-orders'>Pedidos</button>
    </div>
</aside>