@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    padding-bottom: 10px;
}
.img-login{
    width: 180px;
}
.admin-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.user,
.fas{
    color: #B34622;
    font-size: 22px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding: 0 20px;
}
.btn{
    background:none;
    border: 3.8px solid #B34622;
    border-radius: 20px;
    width: 170px;
    height: 55px;
    font-size: 20px;
    color: #B34622;
    font-family: 'Roboto', sans-serif;
}
.btn:hover{
    color: #ffffff;
    background-color:#B34622 ;
}