
  <!-- <img src="../assets/Recurso 1.png" alt="">
  <form>
    <label>
      Email:
      <input type="text" name="name" />
    </label>
    <label>
      Contraseña:
      <input type="text" name="name" />
    </label>
    <input type="submit" value="Entrar" />
    </form>
   --> 
   <img src="../assets/Recurso 1.png" alt="">
   <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="button" class="btnMenu btn-lg btn col-6 mx-auto d-block mt-3" routerLink="menu">botón</button>
  </form>