
<div class="w-75 p-3">
    <button type="button" class="btn btn-primary btn-lg">Products</button>
    <button type="button" class="btn btn-primary btn-lg" ml-1>Users</button>
    <div class="input-group rounded w-50 p-3">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </span>
    </div>
 <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Hamburguesa</td>
        <td>10$</td>
        <td>Desayuno</td>
        <td>
            <button type="button" class="btn btn-sm px-3">
                <i class="fas fa-edit"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm px-3">
                <i class="fas fa-trash "></i>
            </button>
        </td>
      </tr>
      <tr>
        <td scope="row">Arepa</td>
        <td>10$</td>
        <td>Desayuno</td>
        <td>
            <button type="button" class="btn btn-sm px-3">
                <i class="fas fa-edit"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm px-3">
                <i class="fas fa-trash "></i>
            </button>
        </td>
    </tbody>
  </table>
  <input class="btn btn-danger" type="submit" value="Submit">
</div>
