<section>
    <app-header></app-header>
    <section class="admin-products">
        <div class="buttons-div">
            <button type="button" class="btn-products" routerLink='/admin-products'>Products</button>
            <button type="button" class="btn-users" routerLink='/admin-users'>Users</button>
        </div>
        <div class="table-products">
            <input type="search" id="search" class="input-data" placeholder="Buscar" autocomplete="off">
            <div class="table-output">
                <p class="name-table"> Producto</p>
                <p class="name-table">Precio</p>
                <p class="name-table">Tipo</p>
                <p class="name-table edit">Editar</p>
                <p class="name-table trash">Eliminar</p>
                <div class="div-output">
                    <p class="name-product">Hamburguesa</p>
                    <p class="name-price">10$</p>
                    <p class="name-type">Desayuno</p>
                    <button type="button" class="btn-edit">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="btn-trash">
                        <i class="fas fa-trash "></i>
                    </button>
                </div>
            </div>
            <div class="table-input">
                <input type="text">
                <input type="number">
                <input type="text">
            </div>
            <button type="button" class="btn-crear">Crear</button>
        </div>
    </section>
</section>