<table class="table">
    <thead>
      <tr>
        <th scope="col">Administrador</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
            <i class="fa fa-check" aria-hidden="true"></i>
         </th>
        <td>yesiret@mail.com</td>
        <td>
            <button type="button" class="btn btn-sm px-3">
                <i class="fas fa-edit"></i>
            </button>

            </td>
        <td> 
            <i class="fa fa-times" aria-hidden="true"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">  <i class="fa fa-times" aria-hidden="true"></i></th>
        <td>Jacob</td>
        <td><button type="button" class="btn btn-sm px-3">
            <i class="fas fa-edit"></i>
        </button>
</td>
        <td><i class="fa fa-times" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>